* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(#000, #373737);
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

header {
    text-align: center;
    margin: 0 20px;

    img {
        width: 25%;
        object-fit: cover;
    }

    p {
        color: #fdc41d;
        margin: 10px;
    }
}


.conteudo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    a{
        text-decoration: none;
        color: #000;
    }
    .botoes {
        display: flex;
        flex-direction: column;
        width: 45vw;

        button {
            padding: 12px;
            margin: 10px;
            border-radius: 8px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            color: #000
        }

        .botao-bege {
            background-color: #eee3a1;
        }

        .botao-amarelo {
            background-color: #fdc41d;
        }
    }

}

.swiper {
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.carrossel{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;

    .button-prev{
        transform: rotate(180deg);
        cursor: pointer;
        margin: 10px;
    }

    .button-next{
        cursor: pointer;
        margin: 10px;
    }
}

.swiper-pagination-bullet,
swiper-pagination-bullet-active {
    background-color: #fdc41d;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet-active {
    background:#fdc41d !important;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 0 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(#000, #373737);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}


@media screen and (max-width:750px) {

    header {
        img {
            width: 100%;
        }
    }

    .conteudo-container {
        display: flex;
        flex-direction: column;

        .botoes {
            width: 80vw;

            button {
                padding: 10px;
            }
        }
    }
}